.profile {
  display: flex;
}

.profileRight {
  flex: 9;
  padding-left: 20px;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 2rem;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-left: 2rem;
}

.profile .loginBox {
  padding: 20px;
  height: 600px !important;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interestTab {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1rem;
}

.interest-selected {
  margin: 0.5rem;
  background: #1775ee;
  color: white;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

.interest {
  margin: 0.5rem;
  cursor: pointer;
  color: #1775ee;
  border-radius: 0.2rem;
  border: 1px solid #1775ee;
  padding: 0 0.5rem;
}

.button {
  margin: 0.5rem;
  cursor: pointer;
  color: #1775ee;
  border-radius: 0.4rem;
  border: 2px solid #1775ee;
  padding: 0.5rem 1rem;
  width: max-content;
}
